
.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}
.logo{
    width:200px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding:0px 20px;
    font-size: 24px;
}
.nav-items > ul> li{
    padding:10px;
    margin:10px;
}
.res-card{
    width:200px;
    height: 360px;
    max-height: 360px;
    padding:5px;
    margin:5px;

}
.res-card:hover{
    border:1px solid #000;
    cursor: pointer;
}
.Search{
    padding:10px;
}
.res-logo {
    width: 190px;
    height: 100px;
    min-height: 136px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
  
}
.filter-btn{
    margin:10px;
    cursor: pointer;
    margin-left:20px;
}
.shimmer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shimmer-card{
    margin:20px;
    width: 200px;
    height:400px;
    background-color: #f0f0f0;
}
.login{
    padding:0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.search-box{
    margin-top: 10px;
}
